@{
    Layout = null;
}
<!DOCTYPE html>
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Mosaic Researcher</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    <link href="~/Content/neo.css" rel="stylesheet" type='text/css' media='screen' charset='utf-8'>


    <script src="~/Scripts/modernizr-2.8.3.js"></script>


</head>
<body>
    <div class="container body-content">
        <a href="/"><img src="~/images/neo.png" alt="Neo Mosaic" class="logo" height="" width=""></a>

        <div class="">
            <center class="lead">NEO Mosaic Researcher</center>
            <center class="lead">We are Aligning and comparing the Images!</center>
        </div>

        <div class="row next">
            <div class="col-md-12">
                <button onclick="window.location.href = '/home/neo4'" type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>

        <img src="~/images/alignment.png" alt="Upload the Picture" class="uploaded logo img-rounded img-responsive" width="400">



        <hr>
        <footer>
            <p>&copy; 2016 - Neo Mosaic Researcher</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-2.2.3.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>




</body>
</html>