@{
    Layout = null;
}
<!DOCTYPE html>
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo Mosaic Researcher</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    <link href="~/Content/neo.css" rel="stylesheet" type='text/css' media='screen' charset='utf-8'>


    <script src="~/Scripts/modernizr-2.8.3.js"></script>


</head>
<body>
    <div class="container body-content">

        <a href="/"><img src="~/images/neo.png" alt="Neo Mosaic" class="logo" height="" width=""></a>

        <div class="">
            <center class="lead">NEO Mosaic Researcher</center>
            <center class="lead">NEO Mosiac Researcher recognizes and classifies the Potential NEO for You!</center>
        </div>


        <div class="row">

            <div class="col-md-8">
                <h1 style="color: red">Your NEO is a possible: Atira</h1>
                <p style="color: red; font-weight: bold">Your picture and your info are automatically sent to the NASA database, thank you!</p>
            </div>
        </div>

        <br/><br/>
        <h4>If you prefer there is the old way: @Html.ActionLink("Prova", "Classify", "home")</h4>

        <hr>
        <footer>
            <p>&copy; 2016 - Neo Mosaic Researcher</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-2.2.3.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>




</body>
</html>