.logo
{
position:relative;
left:42%;
}

footer
{
position:relative;
left:42%;
}

.uploaded
{
position:relative;
left:2%;
width:80%;

}

.upload_button
{
    position: relative;
    left: 22%;
    top: 10%;
    padding-top: 22px;
}

.next
{
    position: relative;
    left: 42%;
 padding-top: 10px;
}

